<div class="panels-container">
  <app-panel-widget icon="format_align_left"  panelInformation="Companies" panelFooter="New Companies: 4"></app-panel-widget>
  <app-panel-widget></app-panel-widget>
  <app-panel-widget></app-panel-widget>
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
  <app-panel-widget></app-panel-widget>  
</div>