<!-- <div class="mat-input-subscript-wrapper mat-form-field-subscript-wrapper">
  <div class="ng-tns-c9-4 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
    <mat-error *ngFor="let error of errorsAsArray()">
      {{messages[error]}}
    </mat-error>
  </div>
</div> -->

<mat-form-field>
  <input matInput [attr.type]="type" [placeholder]="placeholder" [formControl]="vmcontrol">  
  <mat-error *ngFor="let error of errorsAsArray()">
    {{messages[error]}}
  </mat-error>
</mat-form-field>