@import '../../../../definations';
@import '../../../../colors';
.forgot-password-header {
    text-align: center;
    padding-top: 24px;
    p {
        color: #555;
        margin-bottom: 30px;
        text-align: center;
        font-size: 13px;
    }
}

.mat-form-field {
    width: 100%;
}

input {
    padding: 5px 10px 5px 5px;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.buttons-container {
    padding: 15px 0 24px 0;
    display: flex;
    flex-direction: column;
    .reset-password-button {
        @include md-button-bg-color( $teal-400);
        color: white;
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
    }
    a {
        cursor: pointer;
        font-size: 12px;
        &:hover {
            text-decoration: underline;
        }
    }
}