<div class="form-container-centered">
  <div class="forgot-password-header">
    <p>Enter your email address that you used to register. We'll send you an email with your username and a link to reset your
      password.
    </p>
  </div>
  <!-- <form> -->
    <mat-form-field>
      <input matInput type="email" placeholder="Email">
    </mat-form-field>

    <div class="buttons-container">
      <button mat-raised-button class="reset-password-button"> RESET MY PASSWORD </button>
      <a class="caption" routerLink="/login">Login</a>
    </div>

  <!-- </form> -->
</div>