.items-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    height: 100%;
    flex-wrap: wrap;

  .items-card {
    max-width: 300px;
    margin: 12px;
    flex: 1 0 25%;

    .mat-card-header {
      margin-left: -19px;
      margin-right: -19px;

      .mat-card-title {
        text-transform: capitalize;
      }

    }
  }
}
