<div class="page-heading">
  <section class="mat-typography">
    <h1>Organisation</h1>
  </section>
  <ol class="breadcrumbs">
    <li>
      <a routerLink="/organisations">Organisations</a>
    </li>
    <li class="active">{{heading}}</li>
  </ol>
</div>

<div class="page-container">
  <mat-card class="logo-content">
    <mat-card-content>
      <app-logo class="upload-logo-container" [apiUrl]="apiUrl" [logoUrl]="logo.logoUrl" (logoChanged)="logoChanged($event)"></app-logo>
    </mat-card-content>
  </mat-card>
  <div class="none-flex-form-container">

    <mat-card class="organisation-card">
      <mat-card-content>
        <form [formGroup]="organisationForm" [appFormValidator]="organisationForm" [validationMessages]="validationMessages">

          <app-summary-validation-messages [appForm]="organisationForm"></app-summary-validation-messages>

          <div class="form-row">
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('name'))" class="full-width-form-field">
              <input matInput type="text" placeholder="Name" formControlName="name">
              <input type="hidden" formControlName="id">
              <mat-error [appValidationMessage]="organisationForm.get('name')" [messages]="validationMessages.name"></mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('description'))" class="full-width-form-field">
              <textarea matInput placeholder="Description" formControlName="description"></textarea>
              <mat-error [appValidationMessage]="organisationForm.get('description')" [messages]="validationMessages.description"></mat-error>
            </mat-form-field>
          </div>
          <div class="form-address" formGroupName="physicalAddress">
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('physicalAddress.line1'))" class="full-width-form-field">
              <input type="hidden" formControlName="id">
              <input matInput type="text" placeholder="Address" formControlName="line1">
              <mat-error [appValidationMessage]="organisationForm.get('physicalAddress.line1')" [messages]="validationMessages.physicalAddress.line1"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('physicalAddress.line2'))" class="full-width-form-field">
              <input matInput type="text" placeholder="Address 2" formControlName="line2">
              <mat-error [appValidationMessage]="organisationForm.get('physicalAddress.line2')" [messages]="validationMessages.physicalAddress.line2"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('physicalAddress.suburb'))">
              <input matInput type="text" placeholder="Suburb" formControlName="suburb">
              <mat-error [appValidationMessage]="organisationForm.get('physicalAddress.suburb')" [messages]="validationMessages.physicalAddress.suburb"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('physicalAddress.city'))">
              <input matInput type="text" placeholder="City" formControlName="city">
              <mat-error [appValidationMessage]="organisationForm.get('physicalAddress.city')" [messages]="validationMessages.physicalAddress.city"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('physicalAddress.postalCode'))">
              <input matInput type="text" placeholder="Postal Code" formControlName="postalCode">
              <mat-error [appValidationMessage]="organisationForm.get('physicalAddress.postalCode')" [messages]="validationMessages.physicalAddress.postalCode"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('physicalAddress.provinceId'))">
              <mat-select placeholder="Province" formControlName="provinceId">
                <mat-option></mat-option>
                <mat-option *ngFor="let province of provinces" [value]="province.id">
                  {{province.name}}
                </mat-option>
              </mat-select>
              <mat-error [appValidationMessage]="organisationForm.get('physicalAddress.provinceId')" [messages]="validationMessages.physicalAddress.provinceId"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('physicalAddress.countryId'))"
              class="full-width-form-field">
              <mat-select placeholder="Country" formControlName="countryId">
                <mat-option></mat-option>
                <mat-option *ngFor="let country of countries" [value]="country.id">
                  {{country.name}}
                </mat-option>
              </mat-select>
              <mat-error [appValidationMessage]="organisationForm.get('physicalAddress.countryId')" [messages]="validationMessages.physicalAddress.countryId"></mat-error>
            </mat-form-field>
          </div>

          <div class="form-address">
            <div class="post-same-phy-address">
              <mat-checkbox (change)="isPostalSameAsPhysicalAddress($event)">Postal address same as physical address</mat-checkbox>
            </div>
            <div [hidden]="postSameAsPhyAddress" class="address-container" formGroupName="postalAddress">
              <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('postalAddress.line1'))" class="full-width-form-field">
                <input type="hidden" formControlName="id">
                <input matInput type="text" placeholder="Postal Address" formControlName="line1">
                <mat-error [appValidationMessage]="organisationForm.get('postalAddress.line1')" [messages]="validationMessages.postalAddress.line1"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('postalAddress.line2'))" class="full-width-form-field">
                <input matInput type="text" placeholder="Address 2" formControlName="line2">
                <mat-error [appValidationMessage]="organisationForm.get('postalAddress.line2')" [messages]="validationMessages.postalAddress.line2"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('postalAddress.suburb'))">
                <input matInput type="text" placeholder="Suburb" formControlName="suburb">
                <mat-error [appValidationMessage]="organisationForm.get('postalAddress.suburb')" [messages]="validationMessages.postalAddress.suburb"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('postalAddress.city'))">
                <input matInput type="text" placeholder="City" formControlName="city">
                <mat-error [appValidationMessage]="organisationForm.get('postalAddress.city')" [messages]="validationMessages.postalAddress.city"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('postalAddress.postalCode'))">
                <input matInput type="text" placeholder="Postal Code" formControlName="postalCode">
                <mat-error [appValidationMessage]="organisationForm.get('postalAddress.postalCode')" [messages]="validationMessages.postalAddress.postalCode"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('postalAddress.rovinceId'))">
                <mat-select placeholder="Province" formControlName="provinceId">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let province of provinces" [value]="province.id">
                    {{province.name}}
                  </mat-option>
                </mat-select>
                <mat-error [appValidationMessage]="organisationForm.get('postalAddress.provinceId')" [messages]="validationMessages.postalAddress.provinceId"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('postalAddress.countryId'))"
                class="full-width-form-field">
                <mat-select placeholder="Country" formControlName="countryId">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let country of countries" [value]="country.id">
                    {{country.name}}
                  </mat-option>
                </mat-select>
                <mat-error [appValidationMessage]="organisationForm.get('postalAddress.countryId')" [messages]="validationMessages.postalAddress.countryId"></mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('contactNumber'))">
              <input matInput type="text" placeholder="Contact" formControlName="contactNumber">
              <mat-error [appValidationMessage]="organisationForm.get('contactNumber')" [messages]="validationMessages.contactNumber"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('emailAddress'))">
              <input matInput type="text" placeholder="Email" formControlName="emailAddress">
              <mat-error [appValidationMessage]="organisationForm.get('emailAddress')" [messages]="validationMessages.emailAddress"></mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field [class.is-invalid]="isControlInvalid(organisationForm.get('faxNumber'))">
              <input matInput type="text" placeholder="Fax" formControlName="faxNumber">
              <mat-error [appValidationMessage]="organisationForm.get('faxNumber')" [messages]="validationMessages.faxNumber"></mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div class="buttons-container">
          <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
          <button mat-raised-button (click)="saveOrganisation()" *ngIf="!isInProgress" color="primary">Save</button>
          <button mat-raised-button *ngIf="!isInProgress" (click)="cancel()">Cancel</button>
          <mat-progress-bar mode="indeterminate" *ngIf="isInProgress"></mat-progress-bar>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
