.page-heading {
    padding: 15px 15px 0 15px;
    display: flex;
    width: 100%;
    section {
        flex: 1 0 50%;
    }
}

.page-container {
    height: 90%;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.none-flex-form-container {
    flex: 4 0 80%;
    max-width: calc(80% - 15px);
    .mat-card {
        height: 100%;
        .mat-card-header {
            height: 40px;
        }
        .mat-card-actions {
            height: 50px;
        }
        .mat-card-content {
            height: 90%;
            form {
                padding: 0 10px 20px 10px;
                display: flex;
                flex-wrap: wrap;
                overflow-y: auto;
                box-sizing: border-box;
                height: 100%;
                .form-row {
                    flex: 1 0 100%;
                    display: flex;
                    justify-content: space-between;
                    .full-width-form-field {
                        flex: 1 0 96% !important;
                        max-width: 96% !important;
                    }
                    .mat-form-field {
                        flex: 1 0 40%;
                        max-width: 45%;
                    }
                }
                .form-address {
                    flex: 1 0 50%;
                    max-width: 50%;
                    display: flex;
                    flex-wrap: wrap;
                    .mat-form-field {
                        flex: 1 0 100%;
                        max-width: 90%;
                    }
                    .post-same-phy-address {
                        height: 50px;
                        padding-left: 10%;
                    }
                    .address-container {
                        flex: 1 0 100%;
                        flex-wrap: wrap;
                        display: flex;
                        padding-left: 10%;
                        .mat-form-field {
                            flex: 1 0 100%;
                            max-width: 90%;
                        }
                    }
                }
                app-summary-validation-messages {
                    flex-basis: 100%;
                    padding: 10px;
                    min-height: 50px;
                    width: 100%;
                    display: block;
                    box-sizing: border-box;
                }
                .mat-form-field {
                    max-width: 50%;
                    flex-basis: 50%;
                    flex-grow: 1;
                    padding: 10px;
                }
                .full-width-form-field {
                    max-width: 100%;
                    flex-basis: 100%;
                }
            }
        }
        .buttons-container {
            padding: 0px 10px 0px 20px;
        }
    }
}

/* Default class applied to drop zones on over */

.upload-logo-container {
    width: 100%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}

.logo-content {
    margin-right: 15px;
    .mat-card-content {
        width: 100%;
    }
}