<div class="page-heading">
  <section class="mat-typography">
    <h1>Company</h1>
  </section>
  <ol class="breadcrumbs">
    <li>
      <a routerLink="/organisations">Organisations</a>
    </li>
    <li>
      <a routerLink="/organisation/{{organisation.id}}">{{organisation.name}}</a>
    </li>
    <li>
      <a routerLink="/companies/{{organisation.id}}">{{organisation.name}} Companies</a>
    </li>
    <li class="active">{{heading}}</li>
  </ol>
</div>

<div class="page-container">
  <mat-card class="logo-content">
    <mat-card-content>
      <app-logo class="upload-logo-container" [apiUrl]="apiUrl" [logoUrl]="logo.logoUrl" (logoChanged)="logoChanged($event)"></app-logo>
    </mat-card-content>
  </mat-card>
  <div class="none-flex-form-container">

    <mat-tab-group>
      <mat-tab label="Personal Details">
        <mat-card class="organisation-card">
          <mat-card-content>
            <form [formGroup]="employeeForm" [appFormValidator]="employeeForm" [validationMessages]="validationMessages">
              <app-summary-validation-messages [appForm]="employeeForm"></app-summary-validation-messages>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('name'))">
                  <input matInput type="text" placeholder="Name" formControlName="name">
                  <input type="hidden" formControlName="id">
                  <mat-error [appValidationMessage]="employeeForm.get('name')" [messages]="validationMessages.name"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('registeredName'))">
                  <input matInput type="text" placeholder="Registered As" formControlName="registeredName">
                  <mat-error [appValidationMessage]="employeeForm.get('registeredName')" [messages]="validationMessages.registeredName"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('tradingName'))">
                  <input matInput type="text" placeholder="Trading As" formControlName="tradingName">
                  <mat-error [appValidationMessage]="employeeForm.get('tradingName')" [messages]="validationMessages.tradingName"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('natureOfBusiness'))">
                  <input matInput type="text" placeholder="Nature Of Business" formControlName="natureOfBusiness">
                  <mat-error [appValidationMessage]="employeeForm.get('natureOfBusiness')" [messages]="validationMessages.natureOfBusiness"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('companyRegistrationNumber'))">
                  <input matInput type="text" placeholder="Company Registration Number" formControlName="companyRegistrationNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('companyRegistrationNumber')" [messages]="validationMessages.companyRegistrationNumber"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('taxNumber'))">
                  <input matInput type="text" placeholder="Tax Number" formControlName="taxNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('taxNumber')" [messages]="validationMessages.taxNumber"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('uifReferenceNumber'))">
                  <input matInput type="text" placeholder="UIF Reference Number" formControlName="uifReferenceNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('uifReferenceNumber')" [messages]="validationMessages.uifReferenceNumber"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('payeReferenceNumber'))">
                  <input matInput type="text" placeholder="PAYE Reference Number" formControlName="payeReferenceNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('payeReferenceNumber')" [messages]="validationMessages.payeReferenceNumber"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('uifCompanyReferenceNumber'))">
                  <input matInput type="text" placeholder="UIF Company Reference Number" formControlName="uifCompanyReferenceNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('uifCompanyReferenceNumber')" [messages]="validationMessages.uifCompanyReferenceNumber"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('sarsUifNumber'))">
                  <input matInput type="text" placeholder="SARS UIF Number" formControlName="sarsUifNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('sarsUifNumber')" [messages]="validationMessages.sarsUifNumber"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('contactNumber'))">
                  <input matInput type="text" placeholder="Contact" formControlName="contactNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('contactNumber')" [messages]="validationMessages.contactNumber"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('emailAddress'))">
                  <input matInput type="text" placeholder="Email" formControlName="emailAddress">
                  <mat-error [appValidationMessage]="employeeForm.get('emailAddress')" [messages]="validationMessages.emailAddress"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('faxNumber'))">
                  <input matInput type="text" placeholder="Fax" formControlName="faxNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('faxNumber')" [messages]="validationMessages.faxNumber"></mat-error>
                </mat-form-field>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <div class="buttons-container">
              <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
              <button mat-raised-button (click)="save()" *ngIf="!isInProgress" color="primary">Save</button>
              <button mat-raised-button *ngIf="!isInProgress" (click)="cancel()">Cancel</button>
              <mat-progress-bar mode="indeterminate" *ngIf="isInProgress"></mat-progress-bar>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
      <mat-tab label="Contact Details">
        <app-employee-address-form></app-employee-address-form>
      </mat-tab>
      <mat-tab label="Banking Details">
        app-employee-banking-details-form></app-employee-banking-details-form>
      </mat-tab>
      <mat-tab label="Settings">
        <app-employee-settings-form></app-employee-settings-form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
