<div class="page-heading">
  <section class="mat-typography">
    <h1>Company</h1>
  </section>
  <ol class="breadcrumbs">
    <li>
      <a routerLink="/Companies">Companies</a>
    </li>
    <li>
      <a routerLink="/company/{{company.id}}">{{company.name}}</a>
    </li>
    <li>
      <a routerLink="/employees/{{company.id}}">Employees</a>
    </li>
  </ol>
</div>

<div class="page-container">
  <mat-card class="logo-content">
    <mat-card-content>
      <app-logo class="upload-logo-container" [apiUrl]="apiUrl" [logoUrl]="logo.logoUrl" (logoChanged)="logoChanged($event)"></app-logo>
    </mat-card-content>
  </mat-card>
  <div class="none-flex-form-container">

    <mat-tab-group>
      <mat-tab label="Personal Details">
        <mat-card class="organisation-card">
          <mat-card-content>
            <form [formGroup]="employeeForm" [appFormValidator]="employeeForm" [validationMessages]="validationMessages">
              <app-summary-validation-messages [appForm]="employeeForm"></app-summary-validation-messages>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('employeeNumber'))">
                  <input matInput type="text" placeholder="Employee Number" formControlName="employeeNumber">
                  <input type="hidden" formControlName="id">
                  <mat-error [appValidationMessage]="employeeForm.get('employeeNumber')" [messages]="validationMessages.employeeNumber"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('title'))">
                  <mat-select placeholder="Title" formControlName="title">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let item of titles" [value]="item.code">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error [appValidationMessage]="employeeForm.get('title')" [messages]="validationMessages.title"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('firstName'))">
                  <input matInput type="text" placeholder="FirstName" formControlName="firstName">
                  <mat-error [appValidationMessage]="employeeForm.get('firstName')" [messages]="validationMessages.firstName"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('initials'))">
                  <input matInput type="text" placeholder="Initials" formControlName="initials">
                  <mat-error [appValidationMessage]="employeeForm.get('initials')" [messages]="validationMessages.initials"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('lastName'))">
                  <input matInput type="text" placeholder="LastName" formControlName="lastName">
                  <mat-error [appValidationMessage]="employeeForm.get('lastName')" [messages]="validationMessages.lastName"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('nickName'))">
                  <input matInput type="text" placeholder="NickName" formControlName="nickName">
                  <mat-error [appValidationMessage]="employeeForm.get('nickName')" [messages]="validationMessages.nickName"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('dateOfBirth'))">
                  <input matInput [matDatepicker]="dateOfBirthPicker" placeholder="Date Of Birth" formControlName="dateOfBirth">
                  <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                  <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                  <mat-error [appValidationMessage]="employeeForm.get('dateOfBirth')" [messages]="validationMessages.dateOfBirth"></mat-error>
                </mat-form-field>
                <div class="mat-form-field" [class.is-invalid]="isControlInvalid(employeeForm.get('dateOfBirth'))">
                  <mat-checkbox labelPosition="before" formControlName="isSouthAfricanCitizen">Are you a South African
                    Citizen?</mat-checkbox>
                  <mat-error [appValidationMessage]="employeeForm.get('isSouthAfricanCitizen')" [messages]="validationMessages.isSouthAfricanCitizen"></mat-error>
                </div>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('idOrPassportNumber'))">
                  <input matInput type="text" placeholder="ID / Passport Number" formControlName="idOrPassportNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('idOrPassportNumber')" [messages]="validationMessages.idOrPassportNumber"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('ethnicGroup'))">
                  <mat-select placeholder="Ethnic Group" formControlName="ethnicGroup">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let item of ethnicGroups" [value]="item.code">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error [appValidationMessage]="employeeForm.get('title')" [messages]="validationMessages.title"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <label>Gender</label>
                <div class="mat-form-field" [class.is-invalid]="isControlInvalid(employeeForm.get('gender'))">
                  <mat-radio-group formControlName="gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                  </mat-radio-group>
                  <mat-error [appValidationMessage]="employeeForm.get('gender')" [messages]="validationMessages.gender"></mat-error>
                </div>
                <div class="mat-form-field" [class.is-invalid]="isControlInvalid(employeeForm.get('hasDisability'))">
                  <mat-checkbox labelPosition="before" formControlName="hasDisability">Have any disability?
                    Citizen?</mat-checkbox>
                  <mat-error [appValidationMessage]="employeeForm.get('hasDisability')" [messages]="validationMessages.hasDisability"></mat-error>
                </div>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('disabilityDescription'))">
                  <input matInput type="text" placeholder="If yes please specify" formControlName="disabilityDescription">
                  <mat-error [appValidationMessage]="employeeForm.get('disabilityDescription')" [messages]="validationMessages.disabilityDescription"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('maritalStatus'))">
                  <mat-select placeholder="Marital Status" formControlName="maritalStatus">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let item of maritalStatuses" [value]="item.code">
                      {{item.value}}
                    </mat-option>
                  </mat-select>
                  <mat-error [appValidationMessage]="employeeForm.get('maritalStatus')" [messages]="validationMessages.maritalStatus"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('homeLanguage'))">
                    <mat-select placeholder="Home Language" formControlName="homeLanguage">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let item of languages" [value]="item.code">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  <mat-error [appValidationMessage]="employeeForm.get('homeLanguage')" [messages]="validationMessages.homeLanguage"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('taxReferenceNumber'))">
                  <input matInput type="text" placeholder="Tax Reference Number" formControlName="taxReferenceNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('taxReferenceNumber')" [messages]="validationMessages.taxReferenceNumber"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('emailAddress'))">
                  <input matInput type="text" placeholder="Email" formControlName="emailAddress">
                  <mat-error [appValidationMessage]="employeeForm.get('emailAddress')" [messages]="validationMessages.emailAddress"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('workNumber'))">
                  <input matInput type="text" placeholder="Work Number" formControlName="workNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('workNumber')" [messages]="validationMessages.workNumber"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('homeNumber'))">
                  <input matInput type="text" placeholder="Home Number" formControlName="homeNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('homeNumber')" [messages]="validationMessages.homeNumber"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(employeeForm.get('mobileNumber'))">
                  <input matInput type="text" placeholder="Mobile Number" formControlName="mobileNumber">
                  <mat-error [appValidationMessage]="employeeForm.get('mobileNumber')" [messages]="validationMessages.mobileNumber"></mat-error>
                </mat-form-field>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <div class="buttons-container">
              <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
              <button mat-raised-button (click)="save()" *ngIf="!isInProgress" color="primary">Save</button>
              <button mat-raised-button *ngIf="!isInProgress" (click)="cancel()">Cancel</button>
              <mat-progress-bar mode="indeterminate" *ngIf="isInProgress"></mat-progress-bar>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
      <mat-tab label="Contact Details">

      </mat-tab>
      <mat-tab label="Banking Details">

      </mat-tab>
      <mat-tab label="Employment Details">

      </mat-tab>
      <mat-tab label="Medical Aid Details">

      </mat-tab>
      <mat-tab label="Settings">

      </mat-tab>
    </mat-tab-group>
  </div>
</div>
