:host{
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    .mat-dialog-title {
        flex-grow: 1;        
        text-align: center;
    }
    .mat-dialog-content {
        flex-grow: 2;
        flex-shrink: 0;
    }
    .mat-dialog-actions {
        button{
            flex: 1 0 0;
        }
    }
}