<mat-card class="organisation-card">
    <mat-card-content>
      <form [formGroup]="companyBankingDetailsForm" [appFormValidator]="companyBankingDetailsForm" [validationMessages]="validationMessages">
        <app-summary-validation-messages [appForm]="companyBankingDetailsForm"></app-summary-validation-messages>
        
        <mat-form-field [class.is-invalid]="isControlInvalid(companyBankingDetailsForm.get('bankName'))">
          <input matInput type="text" placeholder="Bank Name" formControlName="bankName">
          <mat-error [appValidationMessage]="companyBankingDetailsForm.get('bankName')" [messages]="validationMessages.bankName"></mat-error>
        </mat-form-field>
  
        <mat-form-field [class.is-invalid]="isControlInvalid(companyBankingDetailsForm.get('accountHolderName'))">
          <input matInput type="text" placeholder="Account Holder Name" formControlName="accountHolderName">
          <mat-error [appValidationMessage]="companyBankingDetailsForm.get('accountHolderName')" [messages]="validationMessages.accountHolderName"></mat-error>
        </mat-form-field>
  
        <mat-form-field [class.is-invalid]="isControlInvalid(companyBankingDetailsForm.get('accountType'))">
          <input matInput type="text" placeholder="Account Type" formControlName="accountType">
          <mat-error [appValidationMessage]="companyBankingDetailsForm.get('accountType')" [messages]="validationMessages.accountType"></mat-error>
        </mat-form-field>
  
        <mat-form-field [class.is-invalid]="isControlInvalid(companyBankingDetailsForm.get('branchCode'))">
          <input matInput type="text" placeholder="Branch Code" formControlName="branchCode">
          <mat-error [appValidationMessage]="companyBankingDetailsForm.get('branchCode')" [messages]="validationMessages.branchCode"></mat-error>
        </mat-form-field>
  
        <mat-form-field [class.is-invalid]="isControlInvalid(companyBankingDetailsForm.get('branchName'))">
          <input matInput type="text" placeholder="Branch Name" formControlName="branchName">
          <mat-error [appValidationMessage]="companyBankingDetailsForm.get('branchName')" [messages]="validationMessages.branchName"></mat-error>
        </mat-form-field>
  
        <mat-form-field [class.is-invalid]="isControlInvalid(companyBankingDetailsForm.get('accountNumber'))">
          <input matInput type="text" placeholder="Account Number" formControlName="accountNumber">
          <mat-error [appValidationMessage]="companyBankingDetailsForm.get('accountNumber')" [messages]="validationMessages.accountNumber"></mat-error>
        </mat-form-field>
  
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="buttons-container">
        <button mat-raised-button (click)="save()" *ngIf="!isInProgress" color="primary">Save</button>
        <button mat-raised-button *ngIf="!isInProgress" (click)="cancel()">Cancel</button>
        <mat-progress-bar mode="indeterminate" *ngIf="isInProgress"></mat-progress-bar>
      </div>
    </mat-card-actions>
  </mat-card> 
  