<div class="page-heading">
  <section class="mat-typography">
    <h1>{{organisation.name}} Companies</h1>
  </section>
  <ol class="breadcrumbs">
    <li>
      <a routerLink="/organisations">Organisations</a>
    </li>
    <li>
      <a routerLink="/organisation/{{organisation.id}}">{{organisation.name}}</a>
    </li>
    <li class="active">Companies</li>
  </ol>
</div>

<div class="containerX">
  <div class="containerX-header">
    <div class="containerX-header-actions">
      <button mat-mini-fab color="primary" (click)="addCompany()" matTooltip="Add Company" matTooltipPosition="right">
        <mat-icon aria-label="Button to add new company.">add</mat-icon>
      </button>
    </div>
    <div class="containerX-header-filter">
      <mat-form-field class="header-search-field">
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="items-container companies">
    <div class="table-loading-shade" *ngIf="isBusy$ | async as isBusy">
      <mat-spinner strokeWidth="10"></mat-spinner>
    </div>

    <mat-card class="items-card" *ngFor="let item of dataSource$ | async">
      <img mat-card-image src="{{item.logoFileNamePath}}" alt="Company logo">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="editCompany(item)">
          EDIT
        </button>
        <button mat-button (click)="viewCompany(item)">
          EMPLOYEES
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
