<div class="page-heading">
  <section class="mat-typography">
    <h1>Company</h1>
  </section>
  <ol class="breadcrumbs">
    <li>
      <a routerLink="/organisations">Organisations</a>
    </li>
    <li>
      <a routerLink="/organisation/{{organisation.id}}">{{organisation.name}}</a>
    </li>
    <li>
      <a routerLink="/companies/{{organisation.id}}">{{organisation.name}} Companies</a>
    </li>
    <li class="active">{{heading}}</li>
  </ol>
</div>

<div class="page-container">
  <mat-card class="logo-content">
    <mat-card-content>
      <app-logo class="upload-logo-container" [apiUrl]="apiUrl" [logoUrl]="logo.logoUrl" (logoChanged)="logoChanged($event)"></app-logo>
    </mat-card-content>
  </mat-card>
  <div class="none-flex-form-container">

    <mat-tab-group>
      <mat-tab label="Company Details">
        <mat-card class="organisation-card">
          <mat-card-content>
            <form [formGroup]="companyForm" [appFormValidator]="companyForm" [validationMessages]="validationMessages">
              <app-summary-validation-messages [appForm]="companyForm"></app-summary-validation-messages>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('name'))">
                  <input matInput type="text" placeholder="Name" formControlName="name">
                  <input type="hidden" formControlName="id">
                  <mat-error [appValidationMessage]="companyForm.get('name')" [messages]="validationMessages.name"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('registeredName'))">
                  <input matInput type="text" placeholder="Registered As" formControlName="registeredName">
                  <mat-error [appValidationMessage]="companyForm.get('registeredName')" [messages]="validationMessages.registeredName"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('tradingName'))">
                  <input matInput type="text" placeholder="Trading As" formControlName="tradingName">
                  <mat-error [appValidationMessage]="companyForm.get('tradingName')" [messages]="validationMessages.tradingName"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('natureOfBusiness'))">
                  <input matInput type="text" placeholder="Nature Of Business" formControlName="natureOfBusiness">
                  <mat-error [appValidationMessage]="companyForm.get('natureOfBusiness')" [messages]="validationMessages.natureOfBusiness"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('companyRegistrationNumber'))">
                  <input matInput type="text" placeholder="Company Registration Number" formControlName="companyRegistrationNumber">
                  <mat-error [appValidationMessage]="companyForm.get('companyRegistrationNumber')" [messages]="validationMessages.companyRegistrationNumber"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('taxNumber'))">
                  <input matInput type="text" placeholder="Tax Number" formControlName="taxNumber">
                  <mat-error [appValidationMessage]="companyForm.get('taxNumber')" [messages]="validationMessages.taxNumber"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('uifReferenceNumber'))">
                  <input matInput type="text" placeholder="UIF Reference Number" formControlName="uifReferenceNumber">
                  <mat-error [appValidationMessage]="companyForm.get('uifReferenceNumber')" [messages]="validationMessages.uifReferenceNumber"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('payeReferenceNumber'))">
                  <input matInput type="text" placeholder="PAYE Reference Number" formControlName="payeReferenceNumber">
                  <mat-error [appValidationMessage]="companyForm.get('payeReferenceNumber')" [messages]="validationMessages.payeReferenceNumber"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('uifCompanyReferenceNumber'))">
                  <input matInput type="text" placeholder="UIF Company Reference Number" formControlName="uifCompanyReferenceNumber">
                  <mat-error [appValidationMessage]="companyForm.get('uifCompanyReferenceNumber')" [messages]="validationMessages.uifCompanyReferenceNumber"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('sarsUifNumber'))">
                  <input matInput type="text" placeholder="SARS UIF Number" formControlName="sarsUifNumber">
                  <mat-error [appValidationMessage]="companyForm.get('sarsUifNumber')" [messages]="validationMessages.sarsUifNumber"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('contactNumber'))">
                  <input matInput type="text" placeholder="Contact" formControlName="contactNumber">
                  <mat-error [appValidationMessage]="companyForm.get('contactNumber')" [messages]="validationMessages.contactNumber"></mat-error>
                </mat-form-field>
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('emailAddress'))">
                  <input matInput type="text" placeholder="Email" formControlName="emailAddress">
                  <mat-error [appValidationMessage]="companyForm.get('emailAddress')" [messages]="validationMessages.emailAddress"></mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('faxNumber'))">
                  <input matInput type="text" placeholder="Fax" formControlName="faxNumber">
                  <mat-error [appValidationMessage]="companyForm.get('faxNumber')" [messages]="validationMessages.faxNumber"></mat-error>
                </mat-form-field>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <div class="buttons-container">
              <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
              <button mat-raised-button (click)="save()" *ngIf="!isInProgress" color="primary">Save</button>
              <button mat-raised-button *ngIf="!isInProgress" (click)="cancel()">Cancel</button>
              <mat-progress-bar mode="indeterminate" *ngIf="isInProgress"></mat-progress-bar>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
      <mat-tab label="Address">
        <app-company-address-form></app-company-address-form>
      </mat-tab>
      <mat-tab label="Settings">
        <mat-card class="organisation-card">
          <mat-card-content>
            <form [formGroup]="companySettingsForm" [appFormValidator]="companySettingsForm" [validationMessages]="validationmessages">
              <app-summary-validation-messages [appForm]="companySettingsForm"></app-summary-validation-messages>

            </form>
          </mat-card-content>
          <mat-card-actions>
            <div class="buttons-container">
              <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
              <button mat-raised-button (click)="save()" *ngIf="!isInProgress" color="primary">Save</button>
              <button mat-raised-button *ngIf="!isInProgress" (click)="cancel()">Cancel</button>
              <mat-progress-bar mode="indeterminate" *ngIf="isInProgress"></mat-progress-bar>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <!-- <form [formGroup]="companyForm" [appFormValidator]="companyForm" [validationMessages]="validationMessages">
          <app-summary-validation-messages [appForm]="companyForm"></app-summary-validation-messages>

          <div class="form-row">
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('name'))">
              <input matInput type="text" placeholder="Name" formControlName="name">
              <input type="hidden" formControlName="id">
              <mat-error [appValidationMessage]="companyForm.get('name')" [messages]="validationMessages.name"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('registeredName'))">
              <input matInput type="text" placeholder="Registered As" formControlName="registeredName">
              <mat-error [appValidationMessage]="companyForm.get('registeredName')" [messages]="validationMessages.registeredName"></mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('tradingName'))">
              <input matInput type="text" placeholder="Trading As" formControlName="tradingName">
              <mat-error [appValidationMessage]="companyForm.get('tradingName')" [messages]="validationMessages.tradingName"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('natureOfBusiness'))">
              <input matInput type="text" placeholder="Nature Of Business" formControlName="natureOfBusiness">
              <mat-error [appValidationMessage]="companyForm.get('natureOfBusiness')" [messages]="validationMessages.natureOfBusiness"></mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('companyRegistrationNumber'))">
              <input matInput type="text" placeholder="Company Registration Number" formControlName="companyRegistrationNumber">
              <mat-error [appValidationMessage]="companyForm.get('companyRegistrationNumber')" [messages]="validationMessages.companyRegistrationNumber"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('taxNumber'))">
              <input matInput type="text" placeholder="Tax Number" formControlName="taxNumber">
              <mat-error [appValidationMessage]="companyForm.get('taxNumber')" [messages]="validationMessages.taxNumber"></mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('uifReferenceNumber'))">
              <input matInput type="text" placeholder="UIF Reference Number" formControlName="uifReferenceNumber">
              <mat-error [appValidationMessage]="companyForm.get('uifReferenceNumber')" [messages]="validationMessages.uifReferenceNumber"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('payeReferenceNumber'))">
              <input matInput type="text" placeholder="PAYE Reference Number" formControlName="payeReferenceNumber">
              <mat-error [appValidationMessage]="companyForm.get('payeReferenceNumber')" [messages]="validationMessages.payeReferenceNumber"></mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('uifCompanyReferenceNumber'))">
              <input matInput type="text" placeholder="UIF Company Reference Number" formControlName="uifCompanyReferenceNumber">
              <mat-error [appValidationMessage]="companyForm.get('uifCompanyReferenceNumber')" [messages]="validationMessages.uifCompanyReferenceNumber"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('sarsUifNumber'))">
              <input matInput type="text" placeholder="SARS UIF Number" formControlName="sarsUifNumber">
              <mat-error [appValidationMessage]="companyForm.get('sarsUifNumber')" [messages]="validationMessages.sarsUifNumber"></mat-error>
            </mat-form-field>
          </div>
          <div class="form-address">
           <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('paysdlInd'))">
      <mat-checkbox formControlName="paysdlInd">Pay sl Ind</mat-checkbox>
      <mat-error [appValidationMessage]="companyForm.get('paysdlInd')" [messages]="validationMessages.paysdlInd"></mat-error>
    </mat-form-field>


            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('physicalAddressLine1'))" class="full-width-form-field">
              <input type="hidden" formControlName="physicalAddressId">
              <input matInput type="text" placeholder="Address" formControlName="physicalAddressLine1">
              <mat-error [appValidationMessage]="companyForm.get('physicalAddressLine1')" [messages]="validationMessages.physicalAddressLine1"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('physicalAddressLine2'))" class="full-width-form-field">
              <input matInput type="text" placeholder="Address 2" formControlName="physicalAddressLine2">
              <mat-error [appValidationMessage]="companyForm.get('physicalAddressLine2')" [messages]="validationMessages.physicalAddressLine2"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('physicalAddressSuburb'))">
              <input matInput type="text" placeholder="Suburb" formControlName="physicalAddressSuburb">
              <mat-error [appValidationMessage]="companyForm.get('physicalAddressSuburb')" [messages]="validationMessages.physicalAddressSuburb"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('physicalAddressCity'))">
              <input matInput type="text" placeholder="City" formControlName="physicalAddressCity">
              <mat-error [appValidationMessage]="companyForm.get('physicalAddressCity')" [messages]="validationMessages.physicalAddressCity"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('physicalAddressPostalCode'))">
              <input matInput type="text" placeholder="Postal Code" formControlName="physicalAddressPostalCode">
              <mat-error [appValidationMessage]="companyForm.get('physicalAddressPostalCode')" [messages]="validationMessages.physicalAddressPostalCode"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('physicalAddressProvinceId'))">
              <mat-select placeholder="Province" formControlName="physicalAddressProvinceId">
                <mat-option></mat-option>
                <mat-option *ngFor="let province of provinces" [value]="province.id">
                  {{province.name}}
                </mat-option>
              </mat-select>
              <mat-error [appValidationMessage]="companyForm.get('physicalAddressProvinceId')" [messages]="validationMessages.physicalAddressProvinceId"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('physicalAddressCountryId'))" class="full-width-form-field">
              <mat-select placeholder="Country" formControlName="physicalAddressCountryId">
                <mat-option></mat-option>
                <mat-option *ngFor="let country of countries" [value]="country.id">
                  {{country.name}}
                </mat-option>
              </mat-select>
              <mat-error [appValidationMessage]="companyForm.get('physicalAddressCountryId')" [messages]="validationMessages.physicalAddressCountryId"></mat-error>
            </mat-form-field>
          </div>
          <div class="form-address">
            <div class="post-same-phy-address">
              <mat-checkbox (change)="isPostalSameAsPhysicalAddress($event)">Postal address same as physical address</mat-checkbox>
            </div>
            <div [hidden]="postSameAsPhyAddress" class="address-container">
              <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('postalAddressLine1'))" class="full-width-form-field">
                <input type="hidden" formControlName="postalAddressId">
                <input matInput type="text" placeholder="Postal Address" formControlName="postalAddressLine1">
                <mat-error [appValidationMessage]="companyForm.get('postalAddressLine1')" [messages]="validationMessages.postalAddressLine1"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('postalAddressLine2'))" class="full-width-form-field">
                <input matInput type="text" placeholder="Address 2" formControlName="postalAddressLine2">
                <mat-error [appValidationMessage]="companyForm.get('postalAddressLine2')" [messages]="validationMessages.postalAddressLine2"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('postalAddressSuburb'))">
                <input matInput type="text" placeholder="Suburb" formControlName="postalAddressSuburb">
                <mat-error [appValidationMessage]="companyForm.get('postalAddressSuburb')" [messages]="validationMessages.postalAddressSuburb"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('postalAddressCity'))">
                <input matInput type="text" placeholder="City" formControlName="postalAddressCity">
                <mat-error [appValidationMessage]="companyForm.get('postalAddressCity')" [messages]="validationMessages.postalAddressCity"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('postalAddressPostalCode'))">
                <input matInput type="text" placeholder="Postal Code" formControlName="postalAddressPostalCode">
                <mat-error [appValidationMessage]="companyForm.get('postalAddressPostalCode')" [messages]="validationMessages.postalAddressPostalCode"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('postalAddressProvinceId'))">
                <mat-select placeholder="Province" formControlName="postalAddressProvinceId">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let province of provinces" [value]="province.id">
                    {{province.name}}
                  </mat-option>
                </mat-select>
                <mat-error [appValidationMessage]="companyForm.get('postalAddressProvinceId')" [messages]="validationMessages.postalAddressProvinceId"></mat-error>
              </mat-form-field>
              <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('postalAddressCountryId'))" class="full-width-form-field">
                <mat-select placeholder="Country" formControlName="postalAddressCountryId">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let country of countries" [value]="country.id">
                    {{country.name}}
                  </mat-option>
                </mat-select>
                <mat-error [appValidationMessage]="companyForm.get('postalAddressCountryId')" [messages]="validationMessages.postalAddressCountryId"></mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('contactNumber'))">
              <input matInput type="text" placeholder="Contact" formControlName="contactNumber">
              <mat-error [appValidationMessage]="companyForm.get('contactNumber')" [messages]="validationMessages.contactNumber"></mat-error>
            </mat-form-field>
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('emailAddress'))">
              <input matInput type="text" placeholder="Email" formControlName="emailAddress">
              <mat-error [appValidationMessage]="companyForm.get('emailAddress')" [messages]="validationMessages.emailAddress"></mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field [class.is-invalid]="isControlInvalid(companyForm.get('faxNumber'))">
              <input matInput type="text" placeholder="Fax" formControlName="faxNumber">
              <mat-error [appValidationMessage]="companyForm.get('faxNumber')" [messages]="validationMessages.faxNumber"></mat-error>
            </mat-form-field>
          </div>
        </form> -->
  </div>
</div>
