<div class="form-container-centered">
  <div class="change-password-header">
    <p> Before you change the password please provide the old password and confirm the new password.
    </p>
  </div>
  <form [formGroup]="changePasswordForm" [appFormValidator]="changePasswordForm" [validationMessages]="validationMessages">
    <app-summary-validation-messages [appForm]="changePasswordForm"></app-summary-validation-messages>
    <mat-form-field>
      <input matInput type="text" placeholder="Username" formControlName="username" disabled="disabled">
    </mat-form-field>
    <mat-form-field [class.is-invalid]="isControlInvalid(changePasswordForm.get('oldPassword'))">
      <input matInput type="password" placeholder="Old Password" formControlName="oldPassword">
      <mat-error [appValidationMessage]="changePasswordForm.get('oldPassword')" [messages]="validationMessages.oldPassword"></mat-error>
    </mat-form-field>
    <mat-form-field [class.is-invalid]="isControlInvalid(changePasswordForm.get('newPassword'))">
      <input matInput type="password" placeholder="Password" formControlName="newPassword">
      <mat-error [appValidationMessage]="changePasswordForm.get('newPassword')" [messages]="validationMessages.newPassword"></mat-error>
    </mat-form-field>
    <mat-form-field [class.is-invalid]="isControlInvalid(changePasswordForm.get('confirmNewPassword'))">
      <input matInput type="password" placeholder="Confirm Password" formControlName="confirmNewPassword">
      <mat-error [appValidationMessage]="changePasswordForm.get('confirmNewPassword')" [messages]="validationMessages.confirmNewPassword"></mat-error>
    </mat-form-field>

    <div class="buttons-container">
      <button mat-raised-button class="reset-password-button" (click)="changePassword()"> CHANGE MY PASSWORD </button>
    </div>
  </form>
</div>
