@import '../../../../colors';
@import '../../../../definations';
:host {
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 150px;
    margin: 12px;
    flex-direction: column;
    display: flex;
    text-align: center;

    .mat-card {
        padding: 15px;
        border-radius: 0; 
    }
    
    .mat-card-content {
        cursor: pointer;
    }
    
    .mat-card-footer {
        margin: 0 -15px -15px -15px;
    }
    .panel-icon-container {
        font-family: 'Raleway', sans-serif;
        padding: 0 0 5px 0;
        color: $blue-grey-300 !important;
        .panel-icon {
            @include md-icon-size(120px);
        }
    }
    .panel-info {
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        padding: 5px 0 5px 0;
        margin-bottom: 15px;
        color: $blue-grey-400 !important;
    }
}

@media (max-width: 768px) {
    :host {
        max-width: 30% !important;
        margin: 10px 0 10px 0 !important;
    }
}

@media (max-width: 500px) {
    :host {
        max-width: 45% !important;
        margin: 10px 0 10px 0 !important;
    }
}

@media (max-width: 500px) {
    .mat-card {
        padding: 5px;
    }
    .mat-card-footer {
        margin: 0 -5px -5px -5px;
    }
    :host {
        max-width: 250px !important;
        margin: 10px 0 10px 0 !important;
    }
}