<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content>
  <form class="form-container" [formGroup]="userForm" [appFormValidator]="userForm" [validationMessages]="validationMessages">
    <app-summary-validation-messages [appForm]="userForm"></app-summary-validation-messages>
    <mat-form-field [class.is-invalid]="isControlInvalid(userForm.get('username'))">
      <input matInput type="text" placeholder="Username" formControlName="username">
      <mat-error [appValidationMessage]="userForm.get('username')" [messages]="validationMessages.username"></mat-error>
    </mat-form-field>
    <mat-form-field [class.is-invalid]="isControlInvalid(userForm.get('firstname'))">
      <input matInput type="text" placeholder="Firstname" formControlName="firstname">
      <mat-error [appValidationMessage]="userForm.get('firstname')" [messages]="validationMessages.firstname"></mat-error>
    </mat-form-field>
    <mat-form-field [class.is-invalid]="isControlInvalid(userForm.get('lastname'))">
      <input matInput type="text" placeholder="Lastname" formControlName="lastname">
      <mat-error [appValidationMessage]="userForm.get('lastname')" [messages]="validationMessages.lastname"></mat-error>
    </mat-form-field>
    <mat-form-field [class.is-invalid]="isControlInvalid(userForm.get('emailAddress'))">
      <input matInput type="text" placeholder="Email Address" formControlName="emailAddress">
      <mat-error [appValidationMessage]="userForm.get('emailAddress')" [messages]="validationMessages.emailAddress"></mat-error>
    </mat-form-field>
    <app-app-async-dropdownlist [isControlValid]="isControlInvalid(userForm.get('organisationId'))" [placeholder]="'Organisation'"
      [dropDownFormControl]="userForm.get('organisationId')" [messages]="validationMessages.organisationId"
      [dataSource]="organisationsData"></app-app-async-dropdownlist>
    <app-app-async-dropdownlist [isControlValid]="isControlInvalid(userForm.get('companyId'))" [placeholder]="'Company'"
      [dropDownFormControl]="userForm.get('companyId')" [messages]="validationMessages.companyId" [dataSource]="companiesData">
    </app-app-async-dropdownlist>
    <app-app-async-dropdownlist [isControlValid]="isControlInvalid(userForm.get('roleId'))" [placeholder]="'Role'"
      [dropDownFormControl]="userForm.get('roleId')" [messages]="validationMessages.roleId" [dataSource]="rolesData"></app-app-async-dropdownlist>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="saveUser()" *ngIf="!(isInProgress$ | async)">Save</button>
  <button mat-button mat-dialog-close *ngIf="!(isInProgress$ | async)">Cancel</button>
  <mat-progress-bar mode="indeterminate" *ngIf="isInProgress$ | async"></mat-progress-bar>
</mat-dialog-actions>