<div class="form-container-centered">
  <div class="login-header">
    <mat-icon class="login-account-icon">account_circle</mat-icon>
    <div class="header-24">Login</div>
  </div>
  <form [formGroup]="loginForm" [appFormValidator]="loginForm" [validationMessages]="validationMessages">
    <app-summary-validation-messages [appForm]="loginForm"></app-summary-validation-messages>
    <mat-form-field [class.is-invalid]="isControlInvalid(loginForm.get('username'))">
      <input matInput type="text" placeholder="Username" formControlName="username" />
      <mat-error [appValidationMessage]="loginForm.get('username')" [messages]="validationMessages.username">
      </mat-error>
    </mat-form-field>
    <mat-form-field [class.is-invalid]="isControlInvalid(loginForm.get('password'))">
      <input matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error [appValidationMessage]="loginForm.get('password')" [messages]="validationMessages.password">
      </mat-error>
    </mat-form-field>

    <div class="actions-container">
      <div class="login-links">
        <mat-checkbox aria-label="Remember Me" class="remember-me">Remember Me</mat-checkbox>
        <a routerLink="/forgot-password" class="secondary">Forgot Password</a>
      </div>
      <div class="buttons-container">
        <button mat-raised-button class="secondary" (click)="login()" *ngIf="!isInProgress">
          LOGIN
        </button>
      </div>
      <mat-progress-bar mode="indeterminate" *ngIf="isInProgress"></mat-progress-bar>
    </div>
  </form>
</div>