<div class="form-container-centered">
  <div class="login-header">
    <mat-icon class="login-account-icon">account_circle</mat-icon>
    <div class="header-24">Login</div>
  </div>
  <form [formGroup]="loginForm" [appFormValidator]="loginForm">
    <!-- <mat-form-field>
      <input matInput type="text" placeholder="Username" formControlName="username">
      <div class="mat-input-subscript-wrapper mat-form-field-subscript-wrapper" app-validation-messages [vmcontrol]="loginForm.get('username')" [messages]="validationMessages.username"></div>
      <app-validation-messages [vmcontrol]="loginForm.get('username')" [messages]="validationMessages.username"></app-validation-messages>
    </mat-form-field> -->
    <app-validation-messages [placeholder]="'Enter Username'" [type]="'text'" [class.is-invalid]="isControlInvalid(loginForm.get('username'))"  [vmcontrol]="loginForm.get('username')" [messages]="validationMessages.username"></app-validation-messages> 
    <app-validation-messages [placeholder]="'Enter password'" [type]="'password'" [class.is-invalid]="isControlInvalid(loginForm.get('password'))"  [vmcontrol]="loginForm.get('password')" [messages]="validationMessages.password"></app-validation-messages> 
   
    <!-- <mat-form-field>
      <input matInput type="password" placeholder="Password"  formControlName="password">
      <mat-error *ngIf="loginForm.get('password').invalid">
        Password is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('password').invalid">
        Password is required
      </mat-error>
    </mat-form-field> -->

    <div class="buttons-container">
      <div class="login-links">
        <mat-checkbox aria-label="Remember Me" class="remember-me">Remember Me</mat-checkbox>
        <span class="forgot-password">
          <a routerLink="/forgot-password">Forgot Password</a>
        </span>
      </div>
      <div class="link">
        <div class="link">
          <button mat-raised-button class="login-button" (click)="login()"> LOGIN </button>
          <p>Form value: {{ loginForm.value | json }}</p>
        </div>
      </div>
    </div>

  </form>
</div>