@import '../../../../definations';
@import '../../../../colors';
.form-container {
    width: 380px;
    margin: 4em auto;
    padding: 0 2em 0 2em;
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    color: $teal-400;
}

.login-header {
    text-align: center;
    padding-top: 24px;
}

.mat-form-field {
    width: 100%;
}

input {
    padding: 5px 10px 5px 5px;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.buttons-container {
    padding: 15px 0 24px 0;
    display: flex;
    flex-direction: column;
    .login-links {
        margin: 0 0 24px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        .remember-me {
            text-align: left;
            flex-grow: 1;
            flex-shrink: 0;
            font-size: 12px;
        }
        .forgot-password {
            flex-grow: 1;
            flex-shrink: 0;
            text-align: right;
            font-size: 12px;
            a {
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .login-button {
        @include md-button-bg-color( $teal-400);
        color: white;
    }
}

.login-account-icon {
    @include md-icon-size(100px);
}

@media (max-width: 720px) {
    .form-container {
        width: 100%;
        max-width: 380px;
        box-shadow: none;
        color: $teal-400;
    }
    .login-account-icon {
        @include md-icon-size(80px);
    }
}