<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side" class="side-menu">
    <div matSubheader class="side-menu-header">
      <mat-icon>remove</mat-icon>
      <mat-icon>add</mat-icon>
    </div>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item> Company Details </a>
      <mat-divider></mat-divider>
      <a mat-list-item> Banking Details </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>