.organisation-card {
  height: 95%;
  .mat-card-content {
    max-height: 85% !important;
    overflow-y: auto;
    margin-bottom: 5px !important;
    form {
      height: auto !important;
    }
  }
}
