<div class="page-heading">
  <section class="mat-typography">
    <h1>{{company.name}} Employees</h1>
  </section>
  <ol class="breadcrumbs">
    <li>
      <a routerLink="/Companies">Companies</a>
    </li>
    <li>
      <a routerLink="/company/{{company.id}}">{{company.name}}</a>
    </li>
    <li>
      <a routerLink="/employees/{{company.id}}">Employees</a>
    </li>
    <li class="active">Companies</li>
  </ol>
</div>

<div class="containerX">
  <div class="containerX-header">
    <div class="containerX-header-actions">
      <button mat-mini-fab color="primary" (click)="addEmployee()" matTooltip="Add Employee" matTooltipPosition="right">
        <mat-icon aria-label="Button to add new employee.">add</mat-icon>
      </button>
    </div>
    <div class="containerX-header-filter">
      <mat-form-field class="header-search-field">
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="table-container mat-elevation-z8">
    <div class="table-loading-shade" *ngIf="isBusy$ | async">
      <mat-spinner *ngIf="isBusy$ | async" strokeWidth="2"></mat-spinner>
    </div>

    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 material_table" matSort matSortDirection="asc" matSortActive="name">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="cell-flex-1">Name</mat-header-cell>
        <mat-cell *matCellDef="let row" class="cell-flex-1">{{ row.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="physicalAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="cell-flex-3">Location</mat-header-cell>
        <mat-cell *matCellDef="let row" class="cell-flex-3">{{ row.physicalAddress }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="emailAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="cell-flex-1">Email</mat-header-cell>
        <mat-cell *matCellDef="let row" class="cell-flex-1">{{ row.emailAddress }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="table-header-actions-col"></th>
        <td mat-cell *matCellDef="let row" class="table-cell-actions-col">
          <button mat-icon-button color="primary" (click)="editEmployee(row)" matTooltip="Edit employee">
            <mat-icon aria-label="Button to edit employee.">create</mat-icon>
          </button>
        </td>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [length]="totalEmployees$ | async" [pageSize]="5"></mat-paginator>
  </div>

</div>